<html>
<head>
	{% block title %}
	{% endblock %}

</head>


<body>
	<header>
		

		
		{% block header %}
		{% endblock %}

	</header>
	
			{% block menu %}
			{% endblock %}
		

	
			{% block content %}
			{% endblock %}
		
	
	


</body>
</html>
